@charset "UTF-8";

table, td {
	border-collapse: collapse;
	border: 1px solid #333;
}

table {
	margin-top: 10px;
	margin-bottom: 10px;
}

td {
	text-align: center;
}

td.item {
	width: 6em;
}

td.value {
	width: 15em;
}

tr.odd {
	background-color: yellow;
}

tr.even {
	background-color: orange;
}